# Ignore Anypoint Studio metadata folders
.metadata/
.mule/

# Ignore system configuration files
*.DS_Store
Thumbs.db

# Ignore compilation and package files
*.class
*.jar
*.war
*.ear
*.logs
*.zip
*.tar.gz
*.rar

# Ignore target folder generated during project compilation
target/

# Ignore IDE configuration files and folders
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
bin/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.bak
*.swp
*~.nib
local.properties
.recommenders
